@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --ubus-sys-color-primary: 57.62 100.00% 19.80%;
    --ubus-sys-color-surface-tint: 57.62 100.00% 19.80%;
    --ubus-sys-color-on-primary: 0.00 0.00% 100.00%;
    --ubus-sys-color-primary-container: 57.05 76.57% 46.86%;
    --ubus-sys-color-on-primary-container: 56.90 100.00% 11.37%;
    --ubus-sys-color-secondary: 56.31 48.15% 26.47%;
    --ubus-sys-color-on-secondary: 0.00 0.00% 100.00%;
    --ubus-sys-color-secondary-container: 55.61 69.49% 76.86%;
    --ubus-sys-color-on-secondary-container: 57.14 67.74% 18.24%;
    --ubus-sys-color-tertiary: 97.22 100.00% 21.18%;
    --ubus-sys-color-on-tertiary: 0.00 0.00% 100.00%;
    --ubus-sys-color-tertiary-container: 99.49 61.26% 62.55%;
    --ubus-sys-color-on-tertiary-container: 100.00 100.00% 12.35%;
    --ubus-sys-color-error: 0.00 75.47% 41.57%;
    --ubus-sys-color-on-error: 0.00 0.00% 100.00%;
    --ubus-sys-color-error-container: 5.85 100.00% 91.96%;
    --ubus-sys-color-on-error-container: 358.15 100.00% 12.75%;
    --ubus-sys-color-background: 46.36 91.67% 95.29%;
    --ubus-sys-color-on-background: 55.00 26.09% 9.02%;
    --ubus-sys-color-surface: 46.36 91.67% 95.29%;
    --ubus-sys-color-on-surface: 55.00 26.09% 9.02%;
    --ubus-sys-color-surface-variant: 50.62 41.03% 84.71%;
    --ubus-sys-color-on-surface-variant: 54.29 16.80% 24.51%;
    --ubus-sys-color-outline: 55.20 11.42% 42.94%;
    --ubus-sys-color-outline-variant: 52.00 22.39% 73.73%;
    --ubus-sys-color-shadow: 0.00 0.00% 0.00%;
    --ubus-sys-color-scrim: 0.00 0.00% 0.00%;
    --ubus-sys-color-inverse-surface: 55.38 14.94% 17.06%;
    --ubus-sys-color-inverse-on-surface: 49.09 52.38% 91.76%;
    --ubus-sys-color-inverse-primary: 57.03 75.21% 47.45%;
    --ubus-sys-color-primary-fixed: 56.65 86.47% 59.41%;
    --ubus-sys-color-on-primary-fixed: 56.00 100.00% 5.88%;
    --ubus-sys-color-primary-fixed-dim: 57.03 75.21% 47.45%;
    --ubus-sys-color-on-primary-fixed-variant: 56.84 100.00% 14.90%;
    --ubus-sys-color-secondary-fixed: 55.56 66.94% 76.27%;
    --ubus-sys-color-on-secondary-fixed: 56.00 100.00% 5.88%;
    --ubus-sys-color-secondary-fixed-dim: 55.38 44.83% 65.88%;
    --ubus-sys-color-on-secondary-fixed-variant: 56.25 72.73% 17.25%;
    --ubus-sys-color-tertiary-fixed: 98.85 88.41% 72.94%;
    --ubus-sys-color-on-tertiary-fixed: 105.45 100.00% 6.47%;
    --ubus-sys-color-tertiary-fixed-dim: 99.15 61.46% 62.35%;
    --ubus-sys-color-on-tertiary-fixed-variant: 98.78 100.00% 16.08%;
    --ubus-sys-color-surface-dim: 48.57 24.14% 82.94%;
    --ubus-sys-color-surface-bright: 46.36 91.67% 95.29%;
    --ubus-sys-color-surface-container-lowest: 0.00 0.00% 100.00%;
    --ubus-sys-color-surface-container-low: 49.09 61.11% 92.94%;
    --ubus-sys-color-surface-container: 49.09 45.83% 90.59%;
    --ubus-sys-color-surface-container-high: 46.36 37.93% 88.63%;
    --ubus-sys-color-surface-container-highest: 49.09 31.43% 86.27%;

    --radius: 0.5rem;
  }

  .dark {
    --md-sys-color-primary: 56.65 84.83% 58.63%;
    --md-sys-color-surface-tint: 57.03 75.21% 47.45%;
    --md-sys-color-on-primary: 57.69 100.00% 10.20%;
    --md-sys-color-primary-container: 57.24 100.00% 38.43%;
    --md-sys-color-on-primary-container: 57.39 100.00% 9.02%;
    --md-sys-color-secondary: 55.38 44.83% 65.88%;
    --md-sys-color-on-secondary: 57.69 100.00% 10.20%;
    --md-sys-color-secondary-container: 57.14 86.30% 14.31%;
    --md-sys-color-on-secondary-container: 55.50 54.05% 70.98%;
    --md-sys-color-tertiary: 98.68 84.62% 71.96%;
    --md-sys-color-on-tertiary: 100.71 100.00% 10.98%;
    --md-sys-color-tertiary-container: 99.13 51.57% 56.27%;
    --md-sys-color-on-tertiary-container: 101.63 100.00% 9.61%;
    --md-sys-color-error: 6.43 100.00% 83.53%;
    --md-sys-color-on-error: 357.14 100.00% 20.59%;
    --md-sys-color-error-container: 355.92 100.00% 28.82%;
    --md-sys-color-on-error-container: 5.85 100.00% 91.96%;
    --md-sys-color-background: 54.55 35.48% 6.08%;
    --md-sys-color-on-background: 49.09 31.43% 86.27%;
    --md-sys-color-surface: 54.55 35.48% 6.08%;
    --md-sys-color-on-surface: 49.09 31.43% 86.27%;
    --md-sys-color-surface-variant: 54.29 16.80% 24.51%;
    --md-sys-color-on-surface-variant: 52.00 22.39% 73.73%;
    --md-sys-color-outline: 51.11 11.30% 53.14%;
    --md-sys-color-outline-variant: 54.29 16.80% 24.51%;
    --md-sys-color-shadow: 0.00 0.00% 0.00%;
    --md-sys-color-scrim: 0.00 0.00% 0.00%;
    --md-sys-color-inverse-surface: 49.09 31.43% 86.27%;
    --md-sys-color-inverse-on-surface: 55.38 14.94% 17.06%;
    --md-sys-color-inverse-primary: 57.62 100.00% 19.80%;
    --md-sys-color-primary-fixed: 56.65 86.47% 59.41%;
    --md-sys-color-on-primary-fixed: 56.00 100.00% 5.88%;
    --md-sys-color-primary-fixed-dim: 57.03 75.21% 47.45%;
    --md-sys-color-on-primary-fixed-variant: 56.84 100.00% 14.90%;
    --md-sys-color-secondary-fixed: 55.56 66.94% 76.27%;
    --md-sys-color-on-secondary-fixed: 56.00 100.00% 5.88%;
    --md-sys-color-secondary-fixed-dim: 55.38 44.83% 65.88%;
    --md-sys-color-on-secondary-fixed-variant: 56.25 72.73% 17.25%;
    --md-sys-color-tertiary-fixed: 98.85 88.41% 72.94%;
    --md-sys-color-on-tertiary-fixed: 105.45 100.00% 6.47%;
    --md-sys-color-tertiary-fixed-dim: 99.15 61.46% 62.35%;
    --md-sys-color-on-tertiary-fixed-variant: 98.78 100.00% 16.08%;
    --md-sys-color-surface-dim: 54.55 35.48% 6.08%;
    --md-sys-color-surface-bright: 55.71 13.46% 20.39%;
    --md-sys-color-surface-container-lowest: 60.00 42.86% 4.12%;
    --md-sys-color-surface-container-low: 55.00 26.09% 9.02%;
    --md-sys-color-surface-container: 55.00 22.22% 10.59%;
    --md-sys-color-surface-container-high: 50.77 17.33% 14.71%;
    --md-sys-color-surface-container-highest: 55.38 13.68% 18.63%;

    --radius: 0.5rem;
  }
}
