@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 58 100% 20%;
    --surface-tint: 58 100% 20%;
    --on-primary: 0 0% 100%;
    --primary-container: 57 77% 47%;
    --on-primary-container: 57 100% 11%;
    --secondary: 56 48% 26%;
    --on-secondary: 0 0% 100%;
    --secondary-container: 56 69% 77%;
    --on-secondary-container: 57 68% 18%;
    --tertiary: 97 100% 21%;
    --on-tertiary: 0 0% 100%;
    --tertiary-container: 99 61% 63%;
    --on-tertiary-container: 100 100% 12%;
    --error: 0 75% 42%;
    --on-error: 0 0% 100%;
    --error-container: 6 100% 92%;
    --on-error-container: 358 100% 13%;
    --background: 46 92% 95%;
    --on-background: 55 26% 9%;
    --surface: 46 92% 95%;
    --on-surface: 55 26% 9%;
    --surface-variant: 51 41% 85%;
    --on-surface-variant: 54 17% 25%;
    --outline: 55 11% 43%;
    --outline-variant: 52 22% 74%;
    --shadow: 0 0% 0%;
    --scrim: 0 0% 0%;
    --inverse-surface: 55 15% 17%;
    --inverse-on-surface: 49 52% 92%;
    --inverse-primary: 57 75% 47%;
    --primary-fixed: 57 86% 59%;
    --on-primary-fixed: 56 100% 6%;
    --primary-fixed-dim: 57 75% 47%;
    --on-primary-fixed-variant: 57 100% 15%;
    --secondary-fixed: 56 67% 76%;
    --on-secondary-fixed: 56 100% 6%;
    --secondary-fixed-dim: 55 45% 66%;
    --on-secondary-fixed-variant: 56 73% 17%;
    --tertiary-fixed: 99 88% 73%;
    --on-tertiary-fixed: 105 100% 6%;
    --tertiary-fixed-dim: 99 61% 62%;
    --on-tertiary-fixed-variant: 99 100% 16%;
    --surface-dim: 49 24% 83%;
    --surface-bright: 46 92% 95%;
    --surface-container-lowest: 0 0% 100%;
    --surface-container-low: 49 61% 93%;
    --surface-container: 49 46% 91%;
    --surface-container-high: 46 38% 89%;
    --surface-container-highest: 49 31% 86%;

    --radius: 0.5rem;
  }
}
