@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --ubus-sys-color-primary: 57.62 100% 19.8%;
    --ubus-sys-color-surface-tint: 57.62 100% 19.8%;
    --ubus-sys-color-on-primary: 0 0% 100%;
    --ubus-sys-color-primary-container: 57.05 76.57% 46.86%;
    --ubus-sys-color-on-primary-container: 56.9 100% 11.37%;
    --ubus-sys-color-secondary: 56.31 48.15% 26.47%;
    --ubus-sys-color-on-secondary: 0 0% 100%;
    --ubus-sys-color-secondary-container: 55.61 69.49% 76.86%;
    --ubus-sys-color-on-secondary-container: 57.14 67.74% 18.24%;
    --ubus-sys-color-tertiary: 97.22 100% 21.18%;
    --ubus-sys-color-on-tertiary: 0 0% 100%;
    --ubus-sys-color-tertiary-container: 99.49 61.26% 62.55%;
    --ubus-sys-color-on-tertiary-container: 100 100% 12.35%;
    --ubus-sys-color-error: 0 75.47% 41.57%;
    --ubus-sys-color-on-error: 0 0% 100%;
    --ubus-sys-color-error-container: 5.85 100% 91.96%;
    --ubus-sys-color-on-error-container: 358.15 100% 12.75%;
    --ubus-sys-color-background: 46.36 91.67% 95.29%;
    --ubus-sys-color-on-background: 55 26.09% 9.02%;
    --ubus-sys-color-surface: 46.36 91.67% 95.29%;
    --ubus-sys-color-on-surface: 55 26.09% 9.02%;
    --ubus-sys-color-surface-variant: 50.62 41.03% 84.71%;
    --ubus-sys-color-on-surface-variant: 54.29 16.8% 24.51%;
    --ubus-sys-color-outline: 55.2 11.42% 42.94%;
    --ubus-sys-color-outline-variant: 52 22.39% 73.73%;
    --ubus-sys-color-shadow: 0 0% 0%;
    --ubus-sys-color-scrim: 0 0% 0%;
    --ubus-sys-color-inverse-surface: 55.38 14.94% 17.06%;
    --ubus-sys-color-inverse-on-surface: 49.09 52.38% 91.76%;
    --ubus-sys-color-inverse-primary: 57.03 75.21% 47.45%;
    --ubus-sys-color-primary-fixed: 56.65 86.47% 59.41%;
    --ubus-sys-color-on-primary-fixed: 56 100% 5.88%;
    --ubus-sys-color-primary-fixed-dim: 57.03 75.21% 47.45%;
    --ubus-sys-color-on-primary-fixed-variant: 56.84 100% 14.9%;
    --ubus-sys-color-secondary-fixed: 55.56 66.94% 76.27%;
    --ubus-sys-color-on-secondary-fixed: 56 100% 5.88%;
    --ubus-sys-color-secondary-fixed-dim: 55.38 44.83% 65.88%;
    --ubus-sys-color-on-secondary-fixed-variant: 56.25 72.73% 17.25%;
    --ubus-sys-color-tertiary-fixed: 98.85 88.41% 72.94%;
    --ubus-sys-color-on-tertiary-fixed: 105.45 100% 6.47%;
    --ubus-sys-color-tertiary-fixed-dim: 99.15 61.46% 62.35%;
    --ubus-sys-color-on-tertiary-fixed-variant: 98.78 100% 16.08%;
    --ubus-sys-color-surface-dim: 48.57 24.14% 82.94%;
    --ubus-sys-color-surface-bright: 46.36 91.67% 95.29%;
    --ubus-sys-color-surface-container-lowest: 0 0% 100%;
    --ubus-sys-color-surface-container-low: 49.09 61.11% 92.94%;
    --ubus-sys-color-surface-container: 49.09 45.83% 90.59%;
    --ubus-sys-color-surface-container-high: 46.36 37.93% 88.63%;
    --ubus-sys-color-surface-container-highest: 49.09 31.43% 86.27%;

    --radius: 0.5rem;

    .leaflet-container {
      background-size:
        160px 160px,
        160px 160px,
        32px 32px,
        32px 32px !important;
      background-position:
        -6.4px -6.4px,
        -6.4px -6.4px,
        -3.2px -3.2px,
        -3.2px -3.2px;
      background-image: linear-gradient(#ffffff 6.4px, transparent 6.4px),
        linear-gradient(90deg, #ffffff 6.4px, transparent 6.4px),
        linear-gradient(#ffffff 3.2px, transparent 3.2px),
        linear-gradient(90deg, #ffffff 3.2px, #f5f5f5 3.2px);
    }
  }

  .dark {
    --ubus-sys-color-primary: 56.65 84.83% 58.63%;
    --ubus-sys-color-surface-tint: 57.03 75.21% 47.45%;
    --ubus-sys-color-on-primary: 57.69 100% 10.2%;
    --ubus-sys-color-primary-container: 57.24 100% 38.43%;
    --ubus-sys-color-on-primary-container: 57.39 100% 9.02%;
    --ubus-sys-color-secondary: 55.38 44.83% 65.88%;
    --ubus-sys-color-on-secondary: 57.69 100% 10.2%;
    --ubus-sys-color-secondary-container: 57.14 86.3% 14.31%;
    --ubus-sys-color-on-secondary-container: 55.5 54.05% 70.98%;
    --ubus-sys-color-tertiary: 98.68 84.62% 71.96%;
    --ubus-sys-color-on-tertiary: 100.71 100% 10.98%;
    --ubus-sys-color-tertiary-container: 99.13 51.57% 56.27%;
    --ubus-sys-color-on-tertiary-container: 101.63 100% 9.61%;
    --ubus-sys-color-error: 6.43 100% 83.53%;
    --ubus-sys-color-on-error: 357.14 100% 20.59%;
    --ubus-sys-color-error-container: 355.92 100% 28.82%;
    --ubus-sys-color-on-error-container: 5.85 100% 91.96%;
    --ubus-sys-color-background: 54.55 35.48% 6.08%;
    --ubus-sys-color-on-background: 49.09 31.43% 86.27%;
    --ubus-sys-color-surface: 54.55 35.48% 6.08%;
    --ubus-sys-color-on-surface: 49.09 31.43% 86.27%;
    --ubus-sys-color-surface-variant: 54.29 16.8% 24.51%;
    --ubus-sys-color-on-surface-variant: 52 22.39% 73.73%;
    --ubus-sys-color-outline: 51.11 11.3% 53.14%;
    --ubus-sys-color-outline-variant: 54.29 16.8% 24.51%;
    --ubus-sys-color-shadow: 0 0% 0%;
    --ubus-sys-color-scrim: 0 0% 0%;
    --ubus-sys-color-inverse-surface: 49.09 31.43% 86.27%;
    --ubus-sys-color-inverse-on-surface: 55.38 14.94% 17.06%;
    --ubus-sys-color-inverse-primary: 57.62 100% 19.8%;
    --ubus-sys-color-primary-fixed: 56.65 86.47% 59.41%;
    --ubus-sys-color-on-primary-fixed: 56 100% 5.88%;
    --ubus-sys-color-primary-fixed-dim: 57.03 75.21% 47.45%;
    --ubus-sys-color-on-primary-fixed-variant: 56.84 100% 14.9%;
    --ubus-sys-color-secondary-fixed: 55.56 66.94% 76.27%;
    --ubus-sys-color-on-secondary-fixed: 56 100% 5.88%;
    --ubus-sys-color-secondary-fixed-dim: 55.38 44.83% 65.88%;
    --ubus-sys-color-on-secondary-fixed-variant: 56.25 72.73% 17.25%;
    --ubus-sys-color-tertiary-fixed: 98.85 88.41% 72.94%;
    --ubus-sys-color-on-tertiary-fixed: 105.45 100% 6.47%;
    --ubus-sys-color-tertiary-fixed-dim: 99.15 61.46% 62.35%;
    --ubus-sys-color-on-tertiary-fixed-variant: 98.78 100% 16.08%;
    --ubus-sys-color-surface-dim: 54.55 35.48% 6.08%;
    --ubus-sys-color-surface-bright: 55.71 13.46% 20.39%;
    --ubus-sys-color-surface-container-lowest: 60 42.86% 4.12%;
    --ubus-sys-color-surface-container-low: 55 26.09% 9.02%;
    --ubus-sys-color-surface-container: 55 22.22% 10.59%;
    --ubus-sys-color-surface-container-high: 50.77 17.33% 14.71%;
    --ubus-sys-color-surface-container-highest: 55.38 13.68% 18.63%;

    --radius: 0.5rem;

    .leaflet-container {
      background-color: #222 !important;
      background-image: linear-gradient(#1a1a1a 6.4px, transparent 6.4px),
        linear-gradient(90deg, #1a1a1a 6.4px, transparent 6.4px),
        linear-gradient(#1a1a1a 3.2px, transparent 3.2px),
        linear-gradient(90deg, #1a1a1a 3.2px, #222 3.2px);
    }
  }
}

@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
