@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ubus-sys-color-primary: 58 100% 20%;
  --ubus-sys-color-surface-tint: 58 100% 20%;
  --ubus-sys-color-on-primary: 0 0% 100%;
  --ubus-sys-color-primary-container: 57 77% 47%;
  --ubus-sys-color-on-primary-container: 57 100% 11%;
  --ubus-sys-color-secondary: 56 48% 26%;
  --ubus-sys-color-on-secondary: 0 0% 100%;
  --ubus-sys-color-secondary-container: 56 69% 77%;
  --ubus-sys-color-on-secondary-container: 57 68% 18%;
  --ubus-sys-color-tertiary: 97 100% 21%;
  --ubus-sys-color-on-tertiary: 0 0% 100%;
  --ubus-sys-color-tertiary-container: 99 61% 63%;
  --ubus-sys-color-on-tertiary-container: 100 100% 12%;
  --ubus-sys-color-error: 0 75% 42%;
  --ubus-sys-color-on-error: 0 0% 100%;
  --ubus-sys-color-error-container: 6 100% 92%;
  --ubus-sys-color-on-error-container: 358 100% 13%;
  --ubus-sys-color-background: 46 92% 95%;
  --ubus-sys-color-on-background: 55 26% 9%;
  --ubus-sys-color-surface: 46 92% 95%;
  --ubus-sys-color-on-surface: 55 26% 9%;
  --ubus-sys-color-surface-variant: 51 41% 85%;
  --ubus-sys-color-on-surface-variant: 54 17% 25%;
  --ubus-sys-color-outline: 55 11% 43%;
  --ubus-sys-color-outline-variant: 52 22% 74%;
  --ubus-sys-color-shadow: 0 0% 0%;
  --ubus-sys-color-scrim: 0 0% 0%;
  --ubus-sys-color-inverse-surface: 55 15% 17%;
  --ubus-sys-color-inverse-on-surface: 49 52% 92%;
  --ubus-sys-color-inverse-primary: 57 75% 47%;
  --ubus-sys-color-primary-fixed: 57 86% 59%;
  --ubus-sys-color-on-primary-fixed: 56 100% 6%;
  --ubus-sys-color-primary-fixed-dim: 57 75% 47%;
  --ubus-sys-color-on-primary-fixed-variant: 57 100% 15%;
  --ubus-sys-color-secondary-fixed: 56 67% 76%;
  --ubus-sys-color-on-secondary-fixed: 56 100% 6%;
  --ubus-sys-color-secondary-fixed-dim: 55 45% 66%;
  --ubus-sys-color-on-secondary-fixed-variant: 56 73% 17%;
  --ubus-sys-color-tertiary-fixed: 99 88% 73%;
  --ubus-sys-color-on-tertiary-fixed: 105 100% 6%;
  --ubus-sys-color-tertiary-fixed-dim: 99 61% 62%;
  --ubus-sys-color-on-tertiary-fixed-variant: 99 100% 16%;
  --ubus-sys-color-surface-dim: 49 24% 83%;
  --ubus-sys-color-surface-bright: 46 92% 95%;
  --ubus-sys-color-surface-container-lowest: 0 0% 100%;
  --ubus-sys-color-surface-container-low: 49 61% 93%;
  --ubus-sys-color-surface-container: 49 46% 91%;
  --ubus-sys-color-surface-container-high: 46 38% 89%;
  --ubus-sys-color-surface-container-highest: 49 31% 86%;

  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --ubus-sys-color-primary: 57 85% 59%;
    --ubus-sys-color-surface-tint: 57 75% 47%;
    --ubus-sys-color-on-primary: 58 100% 10%;
    --ubus-sys-color-primary-container: 57 100% 38%;
    --ubus-sys-color-on-primary-container: 57 100% 9%;
    --ubus-sys-color-secondary: 55 45% 66%;
    --ubus-sys-color-on-secondary: 58 100% 10%;
    --ubus-sys-color-secondary-container: 57 86% 14%;
    --ubus-sys-color-on-secondary-container: 55 54% 71%;
    --ubus-sys-color-tertiary: 99 85% 72%;
    --ubus-sys-color-on-tertiary: 101 100% 11%;
    --ubus-sys-color-tertiary-container: 99 52% 56%;
    --ubus-sys-color-on-tertiary-container: 102 100% 10%;
    --ubus-sys-color-error: 6 100% 84%;
    --ubus-sys-color-on-error: 357 100% 21%;
    --ubus-sys-color-error-container: 356 100% 29%;
    --ubus-sys-color-on-error-container: 6 100% 92%;
    --ubus-sys-color-background: 55 35% 6%;
    --ubus-sys-color-on-background: 49 31% 86%;
    --ubus-sys-color-surface: 55 35% 6%;
    --ubus-sys-color-on-surface: 49 31% 86%;
    --ubus-sys-color-surface-variant: 54 17% 25%;
    --ubus-sys-color-on-surface-variant: 52 22% 74%;
    --ubus-sys-color-outline: 51 11% 53%;
    --ubus-sys-color-outline-variant: 54 17% 25%;
    --ubus-sys-color-shadow: 0 0% 0%;
    --ubus-sys-color-scrim: 0 0% 0%;
    --ubus-sys-color-inverse-surface: 49 31% 86%;
    --ubus-sys-color-inverse-on-surface: 55 15% 17%;
    --ubus-sys-color-inverse-primary: 58 100% 20%;
    --ubus-sys-color-primary-fixed: 57 86% 59%;
    --ubus-sys-color-on-primary-fixed: 56 100% 6%;
    --ubus-sys-color-primary-fixed-dim: 57 75% 47%;
    --ubus-sys-color-on-primary-fixed-variant: 57 100% 15%;
    --ubus-sys-color-secondary-fixed: 56 67% 76%;
    --ubus-sys-color-on-secondary-fixed: 56 100% 6%;
    --ubus-sys-color-secondary-fixed-dim: 55 45% 66%;
    --ubus-sys-color-on-secondary-fixed-variant: 56 73% 17%;
    --ubus-sys-color-tertiary-fixed: 99 88% 73%;
    --ubus-sys-color-on-tertiary-fixed: 105 100% 6%;
    --ubus-sys-color-tertiary-fixed-dim: 99 61% 62%;
    --ubus-sys-color-on-tertiary-fixed-variant: 99 100% 16%;
    --ubus-sys-color-surface-dim: 55 35% 6%;
    --ubus-sys-color-surface-bright: 56 13% 20%;
    --ubus-sys-color-surface-container-lowest: 60 43% 4%;
    --ubus-sys-color-surface-container-low: 55 26% 9%;
    --ubus-sys-color-surface-container: 55 22% 11%;
    --ubus-sys-color-surface-container-high: 51 17% 15%;
    --ubus-sys-color-surface-container-highest: 55 14% 19%;

    --radius: 0.5rem;
  }
}
